@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.btnC{
  margin-left: 35rem;
  margin-top: 1rem;
  
}

.btnS:hover {
  background-color: #FFC286;
  border-radius: 5px; 
}

.btn{
  list-style-type: none;
  display: inline;
}

#kayit {
  margin: 0 auto;
  border-collapse: collapse;
  width: 400px;
  background-color: #fff;
}